/* nur zur hilfe*/
/*div{
border: 1px solid pink;
}*/

/* ab hier scroll to top */
#myBtn1 {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  /*border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orangered; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px 8px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 3vw; /* Increase font size */
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

#myBtn1:hover {
  background-color: rgb(255, 1, 1); /* Add a dark-grey background on hover */
    border-right: 0px solid white;
  border-bottom: 0px solid white;
    border-left: 2px solid white;
  border-top: 2px solid white;
}
/* ende scroll to top */
/* ab hier sticky menu */


.navigaion1 {
  background: white;
  position: fixed;
  z-index: 2;
  height: 10vw;
}

.main1 {
  z-index: 1;
}

.sticky1 {
  position: fixed;
  top:0 !important;
  z-index: 2;
  width:94% !important;
  margin-right:10px;
  padding-bottom: 10px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}

/* ende sticky menu */


body{
  zoom: 1;
  color:#333;
  margin:3vw;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "itc_lubalin_graphdemi";
    font-weight: 400;
    line-height: 1.2;
}

.oberleiste1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    top: 10px;
    width: 100%;
}

.topnav1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#menumob11{
  padding: 8px;
}
#titelmenu1{ 
  display: none;
}
#titelmenu2{ 
  display: none;
}
.title-area1 a:hover{
  color:white;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 1s;
}
.box1{
  color:white;
  transition-property: color;
  transition-duration: 1.5s;
  transition-delay: .5s;
}
.box{
  color:white;
  transition-property: color;
  transition-duration: 3s;
  transition-delay: 3s;
}

.nav-primary1{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;

}
#unten1{
  display: none;
  width: 30%;
}
.title-area1 a{
  text-decoration: none;
}


.site-title1{
    margin: 0;
    font-family: "itc_lubalin_graphdemi";
    font-size: 22px;
    text-align: right;
}
.site-description1{
    margin: 0;
    text-align: right;
    line-height: 1.1;
    font-size: 16px;
    font-family: "georgiaitalic";
}
.fa fa-times fa-2x{
  font-size: 2rem;
}

#myLinks1{
    display: none;
    width: 93vw;
    background-color: white;
    top: 0;
    /*height: 40px;
    margin-right: 5px;*/
}
a{
  text-decoration: none;
}

#myLinks1 a{
    color: #58595b;
    font-family: "helveticaneuelt_stdregular";
    text-transform: uppercase;
    font-size: 2vw;
    text-decoration: none;
    padding: 1rem 0rem;
    width: 100%;
    border-bottom: 1px solid #333;

}




#myLinks1 fa{
    color: white !important; 
    text-align: center;
}
#myLinks1 a:hover{
    background-color: rgb(216, 214, 214) !important;
    color: ivory;
}

#centermobmenu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
#contact{
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;
}
#contact a{
  padding: 10px;
}

#menumob21{
display: none;  

}

.icon1, .fa{
    color: #333;
}
.site-inner1 a{
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
} 
.site-inner1{
  display: block;
float: left;
width: 100%;
}
.flexy1{
display: flex;
flex-direction: column;

}
.top-posts-io1, 
.left-posts-io1,
.drei-posts-io1, 
.vier-posts-io1{
display: flex;
float: left;
width: 100%;
position: relative;
overflow: auto;
flex-wrap: wrap;
border-radius: 6px;
box-shadow: 11px 7px 10px -3px rgba(0,0,0,0.35);
}
.top-posts-io1 .post-item1,
.drei-posts-io1 .post-item1 {
    float: left;
    display: block;
    position: relative;
    margin: 1.5% 1.5%;
    width: 30%;
height: 300px;
flex-wrap: wrap;
border-radius: 6px;
box-shadow: 11px 7px 10px -3px rgba(0,0,0,0.35);
}
.left-posts-io1 .post-item1 {
    float: left;
    display: block;
    position: relative;
    margin: 1.5% 1.5%;
    width: 40%;
height: 350px;
flex-wrap: wrap;
border-radius: 6px;
box-shadow: 11px 7px 10px -3px rgba(0,0,0,0.35);
}
.left-posts-io1 .post-item1 {
    float: left;
    display: block;
    position: relative;
    margin: 1.5% 1.5%;
    width: 90%;
height: 350px;
flex-wrap: wrap;
}

.left-posts-io1{
display: flex;
flex-direction: row;
justify-content: space-around;
float: left;
width: 100%;
}

.left-posts-io1 .post-item1:nth-child(3) {
    width: 90%;
    height: 20rem;
}


.post-item1 h2 a {
    font-family: "itc_lubalin_graphdemi";
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    width: 100%;
    display: block;
    padding-top:6vw;
}

.vier-posts-io1 .post-item1 {
    width:100%;
    height: 400px;
}

.site-container1{
  margin-top:5vw;
}

.post-item1 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  /*-khtml-opacity: 0.95;
  -moz-opacity: 0.95;
  -ms-filter: â€alpha(opacity=95) â€;
  filter: alpha(opacity=95);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
  opacity: 0.95;*/
  background-size: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    border-top: 25px solid black; /*mai 2020*/

}

.post-item1:hover {
  -webkit-transform: scale(0.9);
  -moz--transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);

}
.post-item-content1 img{
  width:50px;
  height: 50px;
}

.post-item1 .categorias1 {
    font-family: "helveticaneuelt_std_ltregular";
    padding-left: 1.5rem;
    background: url(images/io-categorias.png) left no-repeat transparent;
    text-transform: uppercase;
    margin-left: .5rem;
    display: block;
    color: #fff;
    font-size: 1.2vw;
    position: absolute;
    top: -2vw;
    line-height: 1.6;
}

.post-item1 .categorias1 a {
    padding: 0 0.2rem;
    color: #fff;
}
div.textwidget1{
  text-align: center;
  font-family: "georgiaitalic";
  font-size: 1.5vw;
  border: 1px solid black
}

h2.textwidget1 {
    font-family: "helveticaneuelt_stdregular";
    text-transform: uppercase;
    text-align: center;
    background-color: #59595b;
    height: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    margin: 0;
}
.instagram-io1 {
    width: 100%;
}

.instagram-io1 img {
    width: 250px;
    height: 250px;
}

.instagram-io1 h2 {
    background: url(images/io-instagram-bkg.png) no-repeat right;
    text-align: left;
    border-bottom: 1px solid #333;
}
.maps1{
  border-top: 1px solid #333;
}
.maps1 img {
    width: 75%;
    height: auto;
}
.mape1{
width: 25%;
display: flex;
flex-direction: column;
}
.mape1 a{
  text-align: center;
}
.cookiebox1 {
    width: 80%;
    text-align: center;
    border: 1px solid #454649;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button {
    /* background-color: #333; */
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 300;
    padding: 16px 24px;
    text-transform: uppercase;
    width: auto;
    font-family: "helveticaneuelt_stdregular";
    background-color: #59595b;
    float: right;
}
.c-cookies__btn1{
font-size:14px;
}

.loaddiv{
  display: flex;
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#load2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}


@media only screen and (max-width: 768px){

.site-title1{
       font-size: 5vw;
}
.site-description1{
    font-size: 4vw;
}

#myLinks1 a{
  font-size: 14px;
}
.top-posts-io1 .post-item1,
.left-posts-io1 .post-item1,
.drei-posts-io1 .post-item1{
    float: left;
    display: block;
    position: relative;
    margin: 1.5% 1.5%;
    width: 100%;
    height: 300px;
}
.post-item1 .categorias1 {
    font-size: 0.8rem !important;
    top: -1.3rem;
}

#unten1 {
    display: none;
    width: 100%;
}
.textwidget1 {
    text-align: center;
    font-family: "georgiaitalic";
    font-size: 3.5vw;
}
.cookiebox1{
display:flex;
flex-direction: column;
}
.fa-arrow-circle-o-up{
  font-size:7vw !important;
}
}