::-webkit-scrollbar {
                        width: 6px;
                        border-radius: 3px;
                }

                /* Track */
::-webkit-scrollbar-track {
                        background: rgb(56, 116, 206);
                }

                /* Handle */
::-webkit-scrollbar-thumb {
                        background: rgb(219, 219, 218);
                }

                /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
                        background: rgb(150, 149, 149);
                }

/*div {
                        border: 1px solid violet;
                }*/
#gesamt{
height: 80vh; 
width: 90vw; 
display: flex; 
flex-direction: column;
margin: 40px;
}


body{
margin:0;
background-color: rgb(5, 40, 94) ; 
}
#haupt{
 height: 100%; 
 display: flex; 
 flex-direction: row;
                        }

#navi-links{

                                width: 65px; 
                                background-color:  rgb(6, 54, 128); 
                                border-top-left-radius: 25px;
                                display: flex;
                                justify-content: center;
                            }

#inhalt{
background-image: url(../images/bgblue.jpg);
width: 100%;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
border-top-right-radius: 25px;
}

#img{
width: 100%; 
height: 95%;
display: flex; 
flex-direction: column; 
justify-content: end; 
align-items:flex-end; 
overflow-x:hidden; 
overflow-y: scroll; 
border-top:25px; 
border-bottom:25px;
padding-top:20px;
position: relative;
}
.imgcont{
display: flex;
justify-content: flex-end;
align-items: center;
}

.imgcont img{
width: 20vw; 
height: 24vh;  
border-radius: 8px;
box-shadow: -11px 7px 10px -3px rgba(0,0,0,0.35);
z-index: 1;
}
#leer{
width: 5%; 
}

#contact{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
color:whitesmoke;
width: 100%;
padding-bottom: 25px;
text-transform: uppercase;
}
#contact a {
color: whitesmoke;
padding: 5px;
text-transform: uppercase;
}
#menuright{
padding:0;
margin: 0;
color:whitesmoke;
position: fixed;
text-transform: uppercase;
}
#obmenu{
height: 15px;
display: flex;
justify-content: flex-end;
margin-bottom: 10px;
padding-right:15px;
padding-top:5px;
width: 100%;
}
#container{
height: 80%;
width: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
}
#noidea{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.title{
color: whitesmoke;
font-size: 20px;
padding-left: 15px;
padding: 15px;
z-index: 99;
position: absolute;
text-transform: uppercase;
}
.titleseite{
left:85vw;
color: whitesmoke;
font-size: 26px;
padding-left: 15px;
padding: 15px;
z-index: 99;
text-transform: uppercase;
}

.post-item1x{
 margin-right: 10px;
 margin-top: 20px;
 border-radius: 10px;
}

.post-item-content1x{
box-shadow: -11px 7px 10px -3px rgba(0,0,0,0.35);
}
.post-item-content1x img{
width: 40px;
height: 40px;
border-radius: 8px;
box-shadow: -11px 7px 10px -3px rgba(0,0,0,0.35);
}
.heretitlex {
height: 10vw;
width: 20vw;
}
.heretitlex h2 {
padding: 0;
margin: 2px;
display: flex;
align-items: center;
}
.heretitlex h2 a{
font-size: 15px;
color: whitesmoke;
text-decoration: none;
text-align: center;
width: 100%;
text-transform: uppercase;
}
.borderx{
background-color: rgb(51, 108, 179);
color: whitesmoke;
text-transform: uppercase;
width: 100%;
}
.borderx a{
text-decoration: none;
color: whitesmoke;
text-transform: uppercase;
font-size: 10px;
}

.borderx .categorias1x {
font-family: "helveticaneuelt_std_ltregular";
padding-left: 2rem;
background: url(images/io-categorias.png) left no-repeat transparent;
}
.dothere {
 display: flex;
 flex-direction: row;
 justify-content: center;
}
#dots {
 display: none;
  height: 35px;
  width: 35px;
  border: solid 1px whitesmoke;
  border-radius: 50%;
  /*-webkit-transition: height 0.1s 0.2s ease-out;
transition: height 0.1s 0.2s ease-out;
 -webkit-transition: width 0.1s 0.2s ease-out;
transition: width 0.1s 0.2s ease-out;*/
}
#whitebg{
 display: none;
width: 60vw;
height: 40vh;
background-color: whitesmoke;
justify-self: center;
align-self: flex-end;
border-radius: 6px;
-webkit-transition: height 0.1s 0.2s ease-out;
transition: height 0.1s 0.2s ease-out;
}
#arrowleft{
 display: none;
color: whitesmoke;
margin-bottom: 40px;
}
#arrowleft a{
color: whitesmoke;
text-decoration: none;
}
.untencont{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.abild{
width: 18vw; 
height: 25vh;
margin: 5vw;
position: fixed;
top: -25vw;
box-shadow: -11px 7px 10px -3px rgba(0,0,0,0.35);
-webkit-transition: top 0.1s 0.2s ease-out;
transition: top 0.1s 0.2s ease-out;
border-radius: 10px;
}
#a1{
display: none;
}
.atext{
 margin: 10px;
 display: none;
}
#arrowleft{
 position: absolute;
 top: 20vh;
 left: 10vw;
}
@media only screen and (max-width: 768px){
.titleseite{
display: none;
}
.post-item1x{
        width: 90%;
}
.post-item-content1x{
        width: 100%;
}

.post-item1x img {
left: 7px;
width: 30px;
height: 30px;
}
.heretitlex {
    height:22vw;
}
#oben{
height: 5%;
}
.untencont{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 90%;
}


}
@media only screen and (max-width: 400px){

 #gesamt{
height: 90vh; 
width: 90vw; 
display: flex; 
flex-direction: column;
margin: 10px;
}
#oben{
height: 3%;
}
#haupt {
    height: 90%;
}
#container{
height: 90%;

}

.borderx .categorias1x a {
font-size: 11px;
}

.heretitlex {
    height: 24vw;
}

.untencont img{
width: 50vw;
margin-bottom: 1px;
}

.untencont p{
 width: 90%;
margin: 10px;
font-size: 10px;
}
}
