.BBc{
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.BBe, .BBd, .BBf{
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}


.BKc{
  border: none;
  background-color: gray;
  color: white;
  font-size: 13px;
  font-weight: bold;
  height: 45px;
}
 .Cc{    
  width: 850px;
  height: 95px;
  display: flex;
  flex-direction: row;
 justify-content: space-around;
 align-items: center;
 border: 1px solid black;
}

.Ce{    
  
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
 justify-content: flex-start;
}


.Cl{    
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
}
.Cn {
  border: none;
  background-color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 45px;
}
